ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #d4c28e; /* Amarillo amarillento */
}

li {
  float: left;
}

li a {
  color: #302a00; /* Color de texto amarillento */
  display: block;
  padding: 14px 16px; /* Arriba y abajo 14, izquierda y derecha 16 */
  text-decoration: none;
}

li a:hover {
  background-color: #e0d8a0; /* Amarillo claro amarillento */
}

.activo {
  background-color: #b5a073; /* Amarillo oscuro amarillento */
}

.derecha {
  float: right;
}

.miJumbo {
  margin-top: 1rem;
  padding: 32px 16px;
  background-color: #d8c58b; /* Amarillo claro amarillento */
  border-radius: 0.5rem;
  text-align: center;
  color: #302a00; /* Color de texto amarillento */
}

.fondo {
  background-color: #faf3d7; /* Amarillo muy claro amarillento */
}

